
section 
{
    background-color: #1e1a22;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.teamliad 
{
    margin-left: 1rem;
    background-color: #b9b5b5;
    display: flex;
    width: 13rem;
    margin-top: 1rem;
}


.logoteam img
{
    border-radius: 50%;
    border: 2px solid red;
    height: 5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 5rem;
}

.besh 
{
    margin-left: 1rem;
}

header {
    height: 14rem;
    background-color: #000;
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weer {
    margin-top: 2rem;
    margin-right: 3rem;
    color: #fff;
    font-size: 2rem;
}
.locatie{
    display:flex;
    flex-direction:column;
    align-items:center;
    

}
.ilo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.covid {
    margin-right: 3rem;
}

.locatie p ,.locatie img
{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.logof img
{
    border-radius: 50%;
    margin-top: 3rem;
    width: 4rem;
}

.search 
{
    margin-right: 2rem;
    margin-top: 1.5rem;
}
.search input 
{
    background-color: salmon;
    color: #fff;
    font-size: 1.5rem;
    border: 0.5rem #000 solid;
}
.search input:hover
{
    background-color: gray;
    color: red;
    font-size: 1.5rem;
    border: 0.5rem #000 solid;
}

#result 
{
    background-color: #323e45;
}

.ghLogin 
{   
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.ghLogin img 
{
    margin-top: 1rem;
    border-radius: 25%;
    width: 4rem;
}

.ghLogin p
{
    color: #fff;
    font-size: 2rem;
    margin-left: 1.5rem;
    text-shadow: 0 0 2px rgb(197, 52, 52);
}